{% extends 'my_app/base.html' %}

{% block content %}
<h1>{{title}}</h1>
Водитель:

<table border="2">
    <tr>
        <td>id</td>
        <td align="center">{{driver.id}}</td>
    </tr>
    <tr>
        <td>Имя</td>
        <td align="center">{{driver.name}}</td>
    </tr>
     <tr>
        <td>Дата рождения</td>
        <td align="center">{{client.birthday}}</td>
    </tr>
    <tr>
        <td>Возраст</td>
        <td align="center">{{client.age}}</td>
    </tr>
    <tr>
        <td>Город</td>
        <td align="center">{{driver.city}}</td>
    </tr>
</table>


{% endblock %}