{% extends 'my_app/base.html' %}

{% block content %}
<h1>{{title}}</h1>
Водители:

<table id="drivers" border="1">
    <th>id</th>
    <th>Имя</th>
    <th>Возраст</th>
    <th>Город</th>
{% for driver in drivers %}
        <tr>
            <td align="center">{{driver.id}}</td>
            <td align="center">
                <a href="{% url 'my_app:driver_card' pk=driver.id %}">{{driver.last_name}}</a>
            </td>
            <td align="center">{{driver.birthday}}</td>
            <td align="center">{{driver.city}}</td>
        </tr>
{% endfor %}

</table>

<p><a href="{% url 'my_app:add_driver' %}">Добавить водителя</a></p>
{% endblock %}
